#top {
	height:64px;
	padding:5px 0;
	border:0px solid red;
}
@media screen and (min-width:1200px) {
	.relative {
	position:relative;
	left:29%;
}
}.container {
	max-width:800px;
}
.no-margin-bottom {
	margin:0;
}
h3.date {
	padding:10px;
	color:#29afec;
	border-bottom:2px solid #29afec;
	font-weight:600;
	font-size:20px;
}
.posts {
	margin:0;
	padding:0;
}
.post {
	position:relative;
	border-bottom:1px dashed #E3ECEC;
}
.post a:hover {
	color:#29afec;
}
.post a {
	color:#063642;
	text-decoration:none;
	font-size:16px;
}
/*.upvote {
	position:absolute;
	top:10px;
	left:2px;
}*/
.content {
	min-height:85px;
	margin:4px 0 0;
	padding:5px 85px 10px 8px;
}
.user-info {
	position:absolute;
	width:70px;
	top:10px;
	right:0;
	text-align:center;
}
.subject-name {
	position:absolute;
	width:70px;
	top:60px;
	right:0;
	font-size:14px;
	text-align:center;
	line-height:14px;
}
.form-panel {
	height:151px;
	padding:4px;
}
.labal-share {
	padding:0;
	width:10.67%;
	text-align:right;
}
.subs {
	margin:10px 0 0 0;
	padding:0 5px;
	list-style-type:none
}
.media-body-width {
	width:685px;
}
.glyphicon-info-sign-font-size {
	font-size:14px;
}
.user-avatar {
	position:relative;
}
.avatar-field {
	position:relative;
	top:-25px;
	left:80px;
}
.posts-favorites {
	margin-top:65px;
}
.btn-info {
	background-color:#23b7e5;
	border-color:#23b7e5;
}
.user_atten {
	height:34px;
	overflow:hidden;
	margin:10px 0 0 0;
}
.W_f18 {
	font-size:18px;
}
.clearfix {
	display:block;
}
.user_atten li {
	float:left;
	width:65px;
	text-align:center;
	border-right-width:0;
	border-right-style:solid;
	list-style:none;
}
.m-b {
	margin-bottom:15px;
}
.m-l-xs {
	margin-left:5px;
}
