<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.dao.ExclusiveMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.pojo.Exclusive" >
    <id column="eid" property="eid" jdbcType="INTEGER" />
    <result column="excl_name" property="exclName" jdbcType="VARCHAR" />
    <result column="creater_name" property="createrName" jdbcType="VARCHAR" />
    <result column="share" property="share" jdbcType="INTEGER" />
    <result column="subscriber" property="subscriber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    eid, excl_name, creater_name, share, subscriber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_exclusive
    where eid = #{eid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_exclusive
    where eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.pojo.Exclusive" >
    insert into t_exclusive (eid, excl_name, creater_name, 
      share, subscriber)
    values (#{eid,jdbcType=INTEGER}, #{exclName,jdbcType=VARCHAR}, #{createrName,jdbcType=VARCHAR}, 
      #{share,jdbcType=INTEGER}, #{subscriber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.pojo.Exclusive" >
    insert into t_exclusive
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        eid,
      </if>
      <if test="exclName != null" >
        excl_name,
      </if>
      <if test="createrName != null" >
        creater_name,
      </if>
      <if test="share != null" >
        share,
      </if>
      <if test="subscriber != null" >
        subscriber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="exclName != null" >
        #{exclName,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null" >
        #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        #{share,jdbcType=INTEGER},
      </if>
      <if test="subscriber != null" >
        #{subscriber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.pojo.Exclusive" >
    update t_exclusive
    <set >
      <if test="exclName != null" >
        excl_name = #{exclName,jdbcType=VARCHAR},
      </if>
      <if test="createrName != null" >
        creater_name = #{createrName,jdbcType=VARCHAR},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=INTEGER},
      </if>
      <if test="subscriber != null" >
        subscriber = #{subscriber,jdbcType=INTEGER},
      </if>
    </set>
    where eid = #{eid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.pojo.Exclusive" >
    update t_exclusive
    set excl_name = #{exclName,jdbcType=VARCHAR},
      creater_name = #{createrName,jdbcType=VARCHAR},
      share = #{share,jdbcType=INTEGER},
      subscriber = #{subscriber,jdbcType=INTEGER}
    where eid = #{eid,jdbcType=INTEGER}
  </update>
</mapper>