<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toutiao.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.toutiao.pojo.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="TINYINT" />
    <result column="share" property="share" jdbcType="INTEGER" />
    <result column="
attention" property="
attention" jdbcType="INTEGER" />
    <result column="fans" property="fans" jdbcType="INTEGER" />
    <result column="IO" property="io" jdbcType="DOUBLE" />
    <result column="excl_name" property="exclName" jdbcType="VARCHAR" />
    <result column="sub" property="sub" jdbcType="INTEGER" />
    <result column="collect" property="collect" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, nick_name, pass_word, avatar, email, create_time, update_time, role_id, share, 
    
attention, fans, IO, excl_name, sub, collect, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toutiao.pojo.User" >
    insert into t_user (uid, nick_name, pass_word, 
      avatar, email, create_time, 
      update_time, role_id, share, 
      
attention, fans, IO, 
      excl_name, sub, collect, 
      status)
    values (#{uid,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=INTEGER}, #{roleId,jdbcType=TINYINT}, #{share,jdbcType=INTEGER}, 
      #{
attention,jdbcType=INTEGER}, #{fans,jdbcType=INTEGER}, #{io,jdbcType=DOUBLE}, 
      #{exclName,jdbcType=VARCHAR}, #{sub,jdbcType=INTEGER}, #{collect,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.toutiao.pojo.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="share != null" >
        share,
      </if>
      <if test="
attention != null" >
        
attention,
      </if>
      <if test="fans != null" >
        fans,
      </if>
      <if test="io != null" >
        IO,
      </if>
      <if test="exclName != null" >
        excl_name,
      </if>
      <if test="sub != null" >
        sub,
      </if>
      <if test="collect != null" >
        collect,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=TINYINT},
      </if>
      <if test="share != null" >
        #{share,jdbcType=INTEGER},
      </if>
      <if test="
attention != null" >
        #{
attention,jdbcType=INTEGER},
      </if>
      <if test="fans != null" >
        #{fans,jdbcType=INTEGER},
      </if>
      <if test="io != null" >
        #{io,jdbcType=DOUBLE},
      </if>
      <if test="exclName != null" >
        #{exclName,jdbcType=VARCHAR},
      </if>
      <if test="sub != null" >
        #{sub,jdbcType=INTEGER},
      </if>
      <if test="collect != null" >
        #{collect,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toutiao.pojo.User" >
    update t_user
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=TINYINT},
      </if>
      <if test="share != null" >
        share = #{share,jdbcType=INTEGER},
      </if>
      <if test="
attention != null" >
        
attention = #{
attention,jdbcType=INTEGER},
      </if>
      <if test="fans != null" >
        fans = #{fans,jdbcType=INTEGER},
      </if>
      <if test="io != null" >
        IO = #{io,jdbcType=DOUBLE},
      </if>
      <if test="exclName != null" >
        excl_name = #{exclName,jdbcType=VARCHAR},
      </if>
      <if test="sub != null" >
        sub = #{sub,jdbcType=INTEGER},
      </if>
      <if test="collect != null" >
        collect = #{collect,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toutiao.pojo.User" >
    update t_user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=TINYINT},
      share = #{share,jdbcType=INTEGER},
      
attention = #{
attention,jdbcType=INTEGER},
      fans = #{fans,jdbcType=INTEGER},
      IO = #{io,jdbcType=DOUBLE},
      excl_name = #{exclName,jdbcType=VARCHAR},
      sub = #{sub,jdbcType=INTEGER},
      collect = #{collect,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>