<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>我的独家号 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
<div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
<br/>
<br/>
<div id="main" style="margin-top: 20px;">
    <div class="container">
        <div class="user-info2 text-center">
            <img width="96" class="img-circle" th:src="@{/img/moon-220x150.png}" alt=""/>
            <h3 th:text="${exclusive.getPublicName()}"></h3>

            <p>
                <a th:href="@{'/u'+${exclusive.getUser().getId()}+'/home'}" th:text="${exclusive.getUser().getNickName()}"></a>
                创建
            </p>

            <!--独家号为非当前用户时才显示-->
            <a th:if="${{@viewUtils.getCurrentUser().getId()}} != ${exclusive.getUser().getId()}" id="favorite-button-130" class="btn btn-default btn-sm btn-info" data-remote="true" rel="nofollow" data-method="post" href="/favorites/subject/130" data-original-title="" title="">
                <i class="fa fa-rss"></i> 订阅
            </a>
            <!--独家号为当前用户时才显示-->

        </div>
    </div>
    <br/>
    <div class="container">
        <ul class="user_atten clearfix W_f18">
            <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">分享</span></a></li>
            <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">订阅</span></a></li>
        </ul>
    </div>
    <br/>
    <div class="container">
        <ul class="subs">
            <li>
                <h5>
                    <a href="#">cx</a>
                </h5>
            </li>
            <li>
                <div class="">
                    <span>分享数 2</span>
                    <span>读者数 3</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>

</html>
