<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>独家号 - 分享平台</title>
    <style th:include="head:: auto-explore-main"></style>
    <head th:include="head:: head"></head>
</head>

<body>
     <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
     <br />
     <br />
     <br />
     <div id="main">
        <div class="container">
            <h3 class="date">
                <span>所有独家号</span>
            </h3>
            <br />
            <ul class="media-list" th:if="${exclusiveList} != null">
                <li class="media" th:each="exclusive : ${exclusiveList}">
                    <div class="media-left">
                        <img width="80" src="/img/moon-220x150.png" alt="..." />
                    </div>
                    <div class="media-body media-body-width">
                        <h4 class="media-heading">
                            <a th:href="@{'/e/e'+ ${exclusive.id}}" th:text="${exclusive.publicName}">Media heading</a>
                        </h4>
                        <div >&nbsp;</div>
                        <div class="meta">
                            <span th:text="${exclusive.share + '篇分享'}"></span>&nbsp;
                            <span th:text="${exclusive.subscriber + '个订阅者'}"></span>
                        </div>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
    <!-- 触发 button 的tooltip -->
    <script>
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
    <!-- 触发 button 的tooltip -->
</body>

</html>
