<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>我的主页 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <br/>
    <br/>
    <div id="main" style="margin-top: 20px;">
        <div class="container">
            <div class="user-info2 text-center">
                <img width="96" class="img-circle" th:src="@{/img/moon-220x150.png}" alt="" />
                <h4 th:text="${@viewUtils.getCurrentUser().getNickName()}"></h4>
                <div>我是创新工场高级职工</div>
            </div>
        </div>
        <br/>
        <div class="container">
            <ul class="user_atten clearfix W_f18">
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">分享</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">订阅</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">独家号</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/follow?rightmod=1&amp;wvr=6" class="S_txt1"><strong node-type="follow">9</strong><span class="S_txt2">关注</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/fans?rightmod=1&amp;wvr=6" class="S_txt1"><strong
                node-type="fans">2</strong><span class="S_txt2">粉丝</span></a></li>
            </ul>
        </div>
        <br/>
        <div class="container">
            <a class="btn btn-info m-b m-l-xs" href="/e/create" data-toggle="modal" data-target="#myModal">申请独家号</a>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">申请独家号</h4>
                        </div>
                        <form method="post" th:action="@{/subjects/create}" class="form-panel" role="form" style="height: 205px;">
                            <div class="modal-body" style="height: 136px;">
                                <div class="form-group" style="height:34px">
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" disabled="disabled">独家号名</button>
                                                </span>
                                            <input type="text" id="exclusive" name="exclusive" class="form-control" required="required" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="height:34px">
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button"
                                                                disabled="disabled">&nbsp;&nbsp;&nbsp;创建者</button>

                                                    </span>
                                            <input type="password" id="creater" name="creater" class="form-control" required="required" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">申请</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal -->
        </div>
    </div>
</body>

</html>
