<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>我的主页 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <br/>
    <br/>
    <div id="main" style="margin-top: 20px;">
        <div class="container">
            <div class="user-info2 text-center">
                <img width="96" class="img-circle" th:src="@{/img/moon-220x150.png}" alt="" />
                <h4 th:text="${@viewUtils.getCurrentUser().getNickName()}"></h4>
                <div>我是创新工场高级职工</div>
            </div>
        </div>
        <br/>
        <div class="container">
            <ul class="user_atten clearfix W_f18 center2">
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">分享</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/profile?rightmod=1&amp;wvr=6&amp;mod=personnumber" class="S_txt1"><strong node-type="weibo">1</strong><span class="S_txt2">订阅</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/follow?rightmod=1&amp;wvr=6" class="S_txt1"><strong node-type="follow">9</strong><span class="S_txt2">关注</span></a></li>
                <li class="S_line1"><a bpfilter="page_frame" href="/5580413350/fans?rightmod=1&amp;wvr=6" class="S_txt1"><strong
                node-type="fans">2</strong><span class="S_txt2">粉丝</span></a></li>
            </ul>
        </div>
        <br/>
        <div class="container">

        </div>
    </div>
</body>

</html>
