<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>最新分享 - 分享平台</title>

    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <div id="main" style="margin-top:65px;">
        <div class="container" id="daily">
            <div class="scroll">
                <div class="scroll-added">
                    <div class="daily">
                        <h3 class="date">
                            <span>最新分享</span>
                        </h3>
                        <div class="posts" th:if="${articleList} != null">
                            <div class="post" th:each="article : ${articleList}">
                                <div class="content">
                                    <h3 class="title">
                                        <a th:href="${article.url}" th:text="${article.title}" target="_blank">google 搜索原理系列 2.3</a>
                                    </h3>
                                    <div class="meta">
                                        <span>
                                            <a href="http://baidu.com">
                                                <span th:text="评论 "></span>
                                                <li class="glyphicon glyphicon-comment i-un"></li></a>
                                                <span  th:text="${article.comments.size()}"></span>
                                            </span>&nbsp;
                                        <span>
                                                <a href="http://baidu.com">
                                                    <span th:text="@{${@viewUtils.isCollect(article.id)}?'取消收藏 ':'收藏 '}"></span>
                                                    <li th:class="@{${@viewUtils.isCollect(article.id)}?'glyphicon glyphicon-star-empty i-do':'glyphicon glyphicon-star-empty i-un'}" ></li>
                                                </a>
                                                <span th:text="${article.collects.size()}"></span>
                                            </span>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-avatar">
                                        <a th:href="@{'/e/e' + ${article.exclusive.id}}">
                                            <img width="32" th:src="@{/img/moon-220x150.png}" />
                                        </a>
                                    </div>
                                </div>
                                <div class="subject-name">
                                    <a th:href="@{'/e/e' + ${article.exclusive.id}}" th:text="${article.exclusive.publicName}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <!-- 触发 button 的tooltip -->
    <script>
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
    <!-- 触发 button 的tooltip -->
</body>

</html>
