<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>最新分享 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
    <div id="main" style="margin-top:65px;">
        <div class="container" id="daily">
            <div class="scroll">
                <div class="scroll-added">
                    <div class="daily">
                        <h3 class="date">
                    <span>最新分享</span>
                    </h3>
                        <div class="posts">
                            <div class="post">
                                <div class="btn-group-vertical upvote">
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                        <span></span>
                                    </a>
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-heart"></i>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="content">
                                    <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.3</a>
                                    </h3>
                                    <div class="meta">
                                        <span>
                                        <i>
                                
                                        </i>
                                        389
                                    </span>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-avatar">
                                        <a href="#">
                                            <img width="32" src="/img/moon-220x150.png" />
                                        </a>
                                    </div>
                                    maoli-zjp</div>
                                <div class="subject-name">
                                    <a href="#">侦探事务所</a>
                                </div>
                            </div>
                            <div class="post">
                                <div class="btn-group-vertical upvote">
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                        <span></span>
                                    </a>
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-heart"></i>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="content">
                                    <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.2</a>
                                    </h3>
                                    <div class="meta">
                                        <span>
                                        <i>
                                
                                        </i>
                                        364
                                    </span>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-avatar">
                                        <a href="#">
                                            <img width="32" src="/img/moon-220x150.png" />
                                        </a>
                                    </div>
                                    maoli-zjp</div>
                                <div class="subject-name">
                                    <a href="#">侦探事务所</a>
                                </div>
                            </div>
                            <div class="post">
                                <div class="btn-group-vertical upvote">
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                        <span></span>
                                    </a>
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-heart"></i>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="content">
                                    <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.1</a>
                                    </h3>
                                    <div class="meta">
                                        <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-avatar">
                                        <a href="#">
                                            <img width="32" src="/img/moon-220x150.png" />
                                        </a>
                                    </div>
                                    maoli-zjp</div>
                                <div class="subject-name">
                                    <a href="#">侦探事务所</a>
                                </div>
                            </div>
                            <div class="post">
                                <div class="btn-group-vertical upvote">
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                        <span></span>
                                    </a>
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                                        <i class="glyphicon glyphicon-heart"></i>
                                        <span></span>
                                    </a>
                                </div>
                                <div class="content">
                                    <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.0</a>
                                    </h3>
                                    <div class="meta">
                                        <span>
                                        <i>
                                
                                        </i>
                                        312
                                    </span>
                                    </div>
                                </div>
                                <div class="user-info">
                                    <div class="user-avatar">
                                        <a href="#">
                                            <img width="32" src="/img/moon-220x150.png" />
                                        </a>
                                    </div>
                                    maoli-zjp</div>
                                <div class="subject-name">
                                    <a href="#">侦探事务所</a>
                                </div>
                            </div>
                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="page active"><a href="#">1</a></li>
                                    <li class="page"><a href="#">2</a></li>
                                    <li class="page"><a href="#">3</a></li>
                                    <li class="page"><a href="./lastest-4.html">4</a></li>
                                    <li class="page"><a href="./lastest-5.html">5</a></li>
                                    <li class="page disabled"><a href="#">...</a></li>
                                    <li class="next"><a href="#">&raquo;</a></li>
                                    <li class="last"><a href="./lastest-end.html">末页</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
    <!-- 触发 button 的tooltip -->
    <script>
    $(function() {
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
    <!-- 触发 button 的tooltip -->
</body>

</html>
