<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>我的收藏 - 分享平台</title>
    <head th:include="head:: head"></head>
    <style type="text/css">
      @media (min-width: 1024px) {
            #main{
                margin-top:65px;
            }
        }
    </style>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <br />
    <div id="main">
        <div class="container">
            <h3 class="date">
                <span>我的收藏</span>
            </h3>
            <div class="posts">
                <div class="post">

                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.3</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <a href="http://baidu.com">评论</a>
                                        343
                                    </span> &nbsp;
                            <span>
                                        <a href="http://baidu.com">收藏</a>
                                        389
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.2</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <a href="http://baidu.com">评论</a>
                                        343
                                    </span> &nbsp;
                            <span>
                                        <a href="http://baidu.com">收藏</a>
                                        389
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.1</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <a href="http://baidu.com">评论</a>
                                        343
                                    </span> &nbsp;
                            <span>
                                        <a href="http://baidu.com">收藏</a>
                                        389
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.0</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <a href="http://baidu.com">评论</a>
                                        343
                                    </span> &nbsp;
                            <span>
                                        <a href="http://baidu.com">收藏</a>
                                        389
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
