<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>我的收藏 - 分享平台</title>
    <head th:include="head:: head"></head>
    <style type="text/css">
      @media (min-width: 1024px) {
            #main{
                margin-top:65px;
            }
        }
    </style>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <br />
    <div id="main">
        <div class="container">
            <h3 class="date">
                <span>我的收藏</span>
            </h3>
            <div class="posts" th:if="${articleList} != null">
                <div class="post" th:each="article : ${articleList}">

                    <div class="content">
                        <h3 class="title">
                                    <a th:href="${article.url}" th:text="${article.title}" target="_blank"></a>
                                    </h3>
                        <div class="meta">
                            <span>
                                    <a href="http://baidu.com">
                                        <span th:text="评论 "></span>
                                        <li class="glyphicon glyphicon-comment i-un"></li>
                                    </a>
                                    <span  th:text="${article.comments.size()}"></span>
                            </span>&nbsp;
                            <span>
                                    <a href="http://baidu.com">
                                        <span th:text="@{${@viewUtils.isCollect(article.id)}?'取消收藏 ':'收藏 '}"></span>
                                        <li th:class="@{${@viewUtils.isCollect(article.id)}?'glyphicon glyphicon-star-empty i-do':'glyphicon glyphicon-star-empty i-un'}" ></li>
                                    </a>
                                    <span th:text="${article.collects.size()}"></span>
                             </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
