<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>我的独家号 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
    <br />
    <div id="main" style="margin-top:20px">
        <div class="container">
            <div class="user-info2 text-center">
                <img width="96" class="img-circle" src="../img/moon-220x150.png" alt="" />
                <h4>maoli-zjp</h4>
                <div>我是创新工场高级职工</div>
            </div>
        </div>
        <br />
        <div class="container">
            <ul class="nav nav-pills nav-sub" role="tablist">
                <li role="presentation" class="active">
                    <a href="#">
                        <span>分享</span>
                        <span class="count">11</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span>我的独家号</span>
                        <span class="count">2</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span>关注</span>
                        <span class="count">24</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span>关注者</span>
                        <span class="count">4</span>
                    </a>
                </li>
            </ul>
        </div>
        <br />
        <div class="container">
            <div class="posts">
                <div class="post">
                   
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.1</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <a href="http://baidu.com">评论</a>
                                        343
                                    </span>
                                    &nbsp;
                                    <span>
                                        <a href="http://baidu.com">收藏</a>
                                        389
                                    </span>
                                    &nbsp;
                            <span>
                                <a data-confirm="确认删除" href="#">  删除</a>
                            </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.0</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        312
                                    </span>
                                    &nbsp;
                                    <span>
                                <a data-confirm="确认删除" href="#">  删除</a>
                            </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
