<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>搜索 - 分享平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <link rel="Bookmark" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <!-- 增强跨浏览器表现的一致性,引入 normalize.css 文件 -->
    <link rel="stylesheet" href="../static/public/normalize.css" th:href="@{/public/normalize.css}" />
    <link rel="stylesheet" href="../static/public/style.css" th:href="@{/public/style.css}" />
    <script src="../static/public/jquery.min.js" th:src="@{/public/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <header th:include="header:: header" class="navbar navbar-default navbar-static-top bs-docs-nav no-margin-bottom" id="top" role="banner"></header>
    <div id="main" style="margin:20px">
        <div class="container">
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>