<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>个人设置 - 博客分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
    <div id="main">
        <div class="container" id="daily">
            <h3>个人信息</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                <label class="col-sm-2 control-label" for="user-avatar">头像</label>
                    <div class="col-sm-10 ">
                    <img width="80" class="user-avatar" src="/img/moon-220x150.png" />
                        <input class="avatar-field" type="file" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
                 <div class="form-group">
                 <label class="col-sm-2 control-label" for="nick_name">昵称</label>
                    <div class="col-lg-9 ">
                        <input type="text" class="form-control" id="nick_name" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
                 <div class="form-group ">
                 <label class="col-sm-2 control-label" for="user_git">git账号</label>
                    <div class="col-lg-9 ">
                        <input type="text" class="form-control " id="user_git" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
                 <div class="form-group ">
                 <label class="col-sm-2 control-label" for="user_home_page">个人主页</label>
                    <div class="col-lg-9 ">
                        <input type="text" class="form-control " id="user_home_page" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
                 <div class="form-group ">
                 <label class="col-sm-2 control-label" for="user_bio">自我介绍</label>
                    <div class="col-lg-9 ">
                        <input type="text" class="form-control " id="user_bio" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
                 <div class="form-group ">
                 <label class="col-sm-2 control-label" for="user_email">邮箱</label>
                    <div class="col-lg-9 ">
                        <input type="text " class="form-control " id="user_email" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
                 <div class="form-group ">
                    <div class="col-sm-offset-2 col-sm-10 ">
                        <input type="submit " value="保存并提交 " class="btn btn-default" style="pointer-events: all; cursor: pointer;" />
                    </div>
                    <!-- /input-group -->
                    <!-- /.col-lg-6 -->
                    <!-- /.row -->
                </div>
            </form>
        </div>
    </div>
</body>
</html>