<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>分享 - 分享平台</title>
    <style th:include="head:: bootstrap-select-style"></style>
    <style th:include="head:: auto-contribute-main"></style>
    <head th:include="head:: head"></head>
    <script src="../static/js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}"></script>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <br />
    <br />
    <br />
    <div th:if="${msg}!= ''" id="notice-wrapper" class="container">
        <div th:text="${msg}" id="notice" class="alert alert-info">请填写标题!</div>
    </div>
    <div id="main">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">我要分享</h3>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-horizontal" th:action="@{/posts}" role="form">
                        <div class="form-group" style="height:34px;">
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" disabled="disabled">&nbsp;&nbsp;独家号&nbsp;&nbsp;</button>
                                     </span>
                                    <span th:if="${{@viewUtils.getUserExclusives()}} == null" class="form-control" style="color: red">
                                        &nbsp;您还没有独家号,去创建一个吧。
                                    </span>
                                    <select th:if="${{@viewUtils.getUserExclusives()}} != null" id="first-disabled" class="selectpicker form-control" name="exclusive" data-hide-disabled="true" data-live-search="true">
                                        <optgroup disabled="disabled" label="disabled">
                                            <option>Hidden</option>
                                        </optgroup>
                                        <optgroup label="独家号">
                                            <option th:each="exclusive : ${@viewUtils.getUserExclusives()}" th:text="${exclusive.publicName}">Apple</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="height:34px">
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" disabled="disabled">文章标题</button>
                                     </span>
                                    <input type="text" class="form-control" name="title"/>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group" style="height:34px">
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" disabled="disabled">原始链接</button>
                                    </span>
                                    <input type="text" class="form-control" name="link"/>
                                </div>
                                <!-- /input-group -->
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="form-group" style="height:34px">
                            <div class="col-lg-9">
                                <input type="submit" class="form-control" value="提交" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
