<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>登录 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
    <div id="main"  style="margin-top:50px;">
        <div class="container">
            <h3 class="text-center">登录</h3>
            <div>
                <form method="post" id="form" th:action="@{/login}" class="form-panel" role="form">
                    <div class="form-group" style="height:34px">
                        <div class="col-lg-5 relative">
                            <div class="input-group">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" disabled="disabled">邮箱</button>
                                </span>
                                <input type="email" id="email" name="email" class="form-control required" placeholder="xxxx@qq.com" />
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-5 -->
                    </div>
                    <div class="form-group" style="height:34px">
                        <div class="col-lg-5 relative">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" disabled="disabled">密码</button>

                                </span>
                                <input type="password" id="password" name="password" class="form-control required" />
                            </div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-5 -->
                    </div>
                    <!-- /.row -->
                    <div class="form-group" style="height:34px">
                        <div class="col-lg-5 relative">
                            <input type="submit" id="signin" class="btn-success form-control" value="登录" />
                        </div>
                        <!-- /input-group -->
                        <!-- /.col-lg-5 -->
                        <!-- /.row -->
                    </div>
                 </form>
                 <div class="form-group" style="height:34px;text-align: right">
                        <div class="col-lg-5 relative">
                            <a id="signup" th:href="@{/register}">
                                    <span>
                                        还没账号?去注册>>
                                    </span>
                            </a>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-lg-5 -->
                 </div>
             </div>
        </div>
    </div>
</body>

</html>
       