<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>我的订阅 - 分享平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <link rel="Bookmark" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <!-- 增强跨浏览器表现的一致性,引入 normalize.css 文件 -->
    <link rel="stylesheet" href="../static/public/normalize.css" th:href="@{/public/normalize.css}" />
    <link rel="stylesheet" href="../static/public/style.css" th:href="@{/public/style.css}" />
    <script src="../static/public/jquery.min.js" th:src="@{/public/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <header th:include="header:: header" class="navbar navbar-default navbar-static-top bs-docs-nav no-margin-bottom" id="top" role="banner"></header>
    <br />
    <div id="main" style="margin-top:20px">
        <div class="container">
            <ul class="nav nav-pills nav-sub" role="tablist">
                <li role="presentation" class="active"><a href="./sub.html">按日期</a></li>
                <li role="presentation"><a href="./sub.html">按热度</a></li>
            </ul>
            <div class="posts">
            <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.3</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.2</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.1</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.0</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        312
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
