<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>我的订阅 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
     <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
    <br />
    <div id="main" style="margin-top:20px">
        <div class="container">
            <ul class="nav nav-pills nav-sub" role="tablist">
                <li role="presentation" class="active"><a href="./sub.html">按日期</a></li>
                <li role="presentation"><a href="./sub.html">按热度</a></li>
            </ul>
            <div class="posts">
            <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.3</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.2</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.1</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        343
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
                <div class="post">
                    <div class="btn-group-vertical upvote">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <span></span>
                        </a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" href="#">
                            <i class="glyphicon glyphicon-heart"></i>
                            <span></span>
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title">
                                    <a href="https://g.chenjx.cn/" target="_blank">google 搜索原理系列 2.0</a>
                                    </h3>
                        <div class="meta">
                            <span>
                                        <i>
                                
                                        </i>
                                        312
                                    </span>
                        </div>
                    </div>
                    <div class="user-info">
                        <div class="user-avatar">
                            <a href="#">
                                <img width="32" src="../img/moon-220x150.png" />
                            </a>
                        </div>
                        maoli-zjp</div>
                    <div class="subject-name">
                        <a href="#">侦探事务所</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
