<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>我的订阅 - 头条</title>

    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar"></div>
    <br/>
    <br/>
    <br/>
    <div id="main" style="margin:20px auto">
        <div class="container posts-subscriptions">
            <ul class="nav nav-tabs m-b user-nav-tabs">
                <li class="active">
                    <a th:href="@{'/u/'+${@viewUtils.getCurrentUser().getId()}+'/subscriptions'}">最新</a>
                </li>
            </ul>
            <div class="posts" th:if="${articleList} != null">
                <div class="post" th:each="article : ${articleList}">
                    <div class="content">
                        <h3 class="title">
                            <a th:href="${article.url}" th:text="${article.title}" target="_blank">google 搜索原理系列 2.3</a>
                        </h3>
                        <div class="meta">
                            <span>
                                <a href="http://baidu.com">
                                    <span th:text="评论 "></span>
                                    <li class="glyphicon glyphicon-comment i-un"></li></a>
                                    <span th:text="${article.comments.size()}"></span>
                                </span>&nbsp;
                                <span>
                                    <a href="http://baidu.com">
                                        <span th:text="@{${@viewUtils.isCollect(article.id)}?'取消收藏 ':'收藏 '}"></span>
                                        <li th:class="@{${@viewUtils.isCollect(article.id)}?'glyphicon glyphicon-star-empty i-do':'glyphicon glyphicon-star-empty i-un'}"></li>
                                        <span th:text="${article.collects.size()}"></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
