<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>我的独家号 - 分享平台</title>
    <head th:include="head:: head"></head>
</head>

<body>
    <div th:include="header:: header" role="navigation" class="zu-top nav-style" data-za-module="TopNavBar" ></div>
    <br />
    <div id="main" style="margin-top:20px">
        <div class="container">
            <div class="user-info2 text-center">
                <img width="96" class="img-circle" src="../img/moon-220x150.png" alt="" />
                <h4>maoli-zjp</h4>
                <div>我是创新工场高级职工</div>
            </div>
        </div>
        <br />
        <div class="container">
            <ul class="nav nav-pills nav-sub" role="tablist">
                <li role="presentation">
                    <a href="#">
                        <span>分享</span>
                        <span class="count">11</span>
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="#">
                        <span>我的独家号</span>
                        <span class="count">2</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span>关注</span>
                        <span class="count">24</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#">
                        <span>关注者</span>
                        <span class="count">4</span>
                    </a>
                </li>
            </ul>
        </div>
        <br />
        <div class="container">
            <ul class="subs">
                <li>
                <h5>
                    <a href="#">maoli-zjp</a>
                    <small>[创建者]</small>
                    <small><a href="#">修改</a></small>
                </h5>
                </li>
                <li>
                <div class="">
                    <span>分享数 2</span>
                    <span>读者数 3</span>
                </div>
                </li>
            </ul>
            <hr />
            <ul class="subs">
                <li>
                <h5>
                    <a href="#">cx</a>
                </h5>
                </li>
                <li>
                <div class="">
                    <span>分享数 2</span>
                    <span>读者数 3</span>
                </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
